.body {
    margin: 0px;
}

.header {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.logo-container {
    margin: 10px 10px;
    width: 120px;
}

.logo {
    width: 100%;
}

.nav-items {
    margin: 9px 10px;
    padding: 10px;
}

.nav-items > ul {
    display: flex;
    padding: 4px;
}

.nav-items > ul > li {
    font-size: 20px;
    margin: 10px;
    list-style: none;
}

.search-container {
    margin: 10px 5px;
    display: flex;
    gap: 5px;
}
  
  .search-box {
    width: 200px;
  }
  
  .search-container button {
    color: #2c3e50;
    border: 2px solid transparent;
    background-color: #3498db;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  
  .search-container button:hover {
    background-color: #2980b9;
  }
  
  .search-container button.active {
    background-color: #27ae60;
    border: 2px solid #2980b9;
    color: #fff;
  }
  

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    margin: 10px 5px;
}

.res-card {
    background-color: #f0f0f0;
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid transparent;
}

.res-card:hover {
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.res-logo {
    width: 100%;
}